{% extends 'base.html' %} {% block title %}Edit User {{user.first_name}}
{{user.last_name}}{% endblock %} {% block content %}
<div class="container m-5 p-5 bg-light border border-secondary rounded-3">
  <h2>Edit a User</h2>
  <form method="POST">
    <div class="mb-3">
      <label for="firstname" class="form-label">First Name:</label>
      <input id="fisrtname" class="form-control" name="first_name" />
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Last Name:</label>
      <input id="lastname" name="last_name" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="photo" class="form-label">Photo URL:</label>
      <input id="photo" class="form-control" name="image_url" />
    </div>
    <button type="submit" class="btn btn-outline-dark">Save</button>
    <input
      type="button"
      class="btn btn-outline-danger"
      onclick="location.href='/users/{{user.id}}';"
      value="Cancel"
    />
  </form>
</div>
{% endblock %}
