{% extends 'base.html' %} {% block title%}User List{% endblock %} {% block
content %}
<div class="container m-5 p-5 bg-light border border-secondary rounded-3">
  <h1>All Users</h1>
  <ul class="list-group">
    {% for user in users %}
    <a
      href="/users/{{ user.id }}"
      class="list-group-item list-group-item-action"
      aria-current="true"
      >{{user.first_name}} {{user.last_name}}</a
    >
    {% endfor %}
  </ul>
  <br />
  <a href="/users/new" class="btn btn-outline-dark">Add New User</a>
</div>
{% endblock %}
